* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'cardoregular';
    src: url('fonts/cardo104s-webfont.eot');
    src: url('fonts/cardo104s-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cardo104s-webfont.woff') format('woff'),
         url('fonts/cardo104s-webfont.ttf') format('truetype'),
         url('fonts/cardo104s-webfont.svg#cardoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "courier_primeregular";
    src: url("fonts/courier_prime-webfont.eot");
    src: url("fonts/courier_prime-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/courier_prime-webfont.woff") format("woff"),
         url("fonts/courier_prime-webfont.ttf") format("truetype"),
         url("fonts/courier_prime-webfont.svg#courier_primeregular") format("svg");
    font-weight: normal;
    font-style: normal;

}


body{
	background: #4a8c9c;
	/*background: #f8f8f8;*/ 
	background-attachment: fixed;
}

/*Standard title across pages*/
h1{
	color:black;
	font-family: "playfair_displayregular", serif;
	font-weight: bold;
	font-size: 40px;
	padding-top: 1em;
	text-align: center;
	padding-botton: 2em;
}

#aircraftview, th, td{
border:1px solid black;
border-collapse:collapse;
text-align:center;
width:550px;
padding: 0.5em;
font-weight: normal;
}

table, .th2, .td2
{
border:1px solid black;
border-collapse:collapse;
text-align:left;
width:550px;
padding: 0.5em;
font-weight: normal;
}

.review{
	width: 500px;
	text-align: left;
	background-color:#E5E5E5;
	padding: 0;
	border-bottom-left-radius: 20px;  
	border-bottom-right-radius: 20px; 
	border-top-left-radius: 20px;  
	border-top-right-radius: 20px; 
}



.titlebanner{
	width: 800px;
	height: 80px;
}

footer{
	display:block;
	margin: 0 auto;
	padding: 0;
	background: #1a546c;
	width: 900px;
	height: 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#wrapper{
	width: 900px;
	margin: 0 auto;
	padding: 0;
	min-height: 750px;
}



/* Structure */
#coolMenu,
#coolMenu ul {
	list-style: none;
}

#coolMenu {
	margin: 0;
	float: left;
	height: 60px;
	width: 900px;
	position: fixed;
	top: 0%;
	z-index: 1;
	border-bottom-left-radius: 10px;  
	border-bottom-right-radius: 10px; 
}

#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 39px;
	line-height: 2em;
	padding: 0.5em 2.1em;
	text-decoration: none;
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
text-align: center;
width: 103px;	
}
#coolMenu li:hover ul.noJS {
	display: block; 
}


/* Main menu */
#coolMenu {
	font-family: "Times New Roman", serif;
	font-weight: bold;
	font-size: 21px;
	background: white;
	
}
#coolMenu > li > a {
	color:#4a8c9c;
}
#coolMenu > li:hover > a {
	background: #fff;
	color: #3366CC;
	
}


/* Submenu */
#coolMenu ul {
	background: #8ac3e0;
}
#coolMenu ul li a {
	color: #fff;
}
#coolMenu ul li:hover a {
	background: #B0C4DE;
	border-top:1px solid #fff;border-bottom:1px solid #fff;

}

#bannerbox{
	width: 900px;
	height: 350px;
	margin: 0 auto;
	background: #1a546c;
	padding: 0;
	margin-top: 60px;
}

#content{
	min-height: inherit;
	width: 900px;
	margin: 0 auto;
	overflow: auto;
	background: #fff;
}

#sidebar{
	background:#f8f8f8;
	min-height: inherit;
	width: 210px;
	padding: 1em 1em 0 1em;
	float: left;
	text-align: center;
	margin: 0 auto;
	overflow: auto;
}

#maincon{
	width: 650px;
	float: right;
	height: inherit;
	padding-bottom: 5em;
}

#datatable{
	padding: 2em 2em 2em 3em;
}

	
#flightview{
	padding: 2em 1em 2em 0.5em;
}

/*used in footer*/
#credits{
	text-align: center;
	color: #fff;
	padding: 10px 0;
	margin: 0 0 0 0;
	font-size: 15px;
	font-family: "courier_primeregular", serif;
	font-style: italic;
}

.centralised{
	text-align: center;
}


.sidenav1, .sidenav2, .sidenav3{
	  width: inherit;
	  height:inherit;
	  border-bottom-width: thin;
	  border-bottom-style: inset;
	  border-bottom-color: #c9c9c9;
	  padding:1em 1em;
	  width: auto;
	  height: auto;
	  position: relative;
	  list-style-image:url('icons/bullet.gif');

}

.sidenavTitle1, .sidenavTitle2, .sidenavTitle3{
	font-weight:bold;
	text-align:left;
	font-size:22px;
	cursor:pointer;
	
}

.list1, .list2, .list3{
	text-align: left;
	padding: 0 0 0 1em;
	font-size: 18px;
}

.rotated{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	/*general version*/
	transition-duration: 0.4s;
	/*browser specific versions*/
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	color: black;
}

a:active{
	color:black;
}

a:hover{
	color: #707070;
}

.para{
	text-align: left;
	color: #3D3C3A;
	font-family: "cardoregular", serif;
	padding: 1.5em 2.5em 1.5em 2.5em;
	font-size: 18px;
}

.para2{
	text-align: left;
	color: #3D3C3A;
	font-family: "cardoregular", serif;
	padding: 0 3em 1.5em 2.5em;
	font-size: 18px;
}

.para3{
	text-align: left;
	color: #3D3C3A;
	font-family: "cardoregular", serif;
	padding: 0.2em 3em 0.5em 3.5em;
	font-size: 18px;
}

.underline{
	text-decoration: underline;
	color:black;
	font-weight: bold;
	font-size: 20px;
}

.right{
	text-align:right;
	color: #3D3C3A;
	font-family: "cardoregular", serif;
	padding:0;
	font-size: 18px;
}

.loginword{
	text-align: center;
	color: black;
	font-family: "cardoregular", serif;
	font-size: 17px;
	padding: 1em 1em 0 1em;
}


.subtitle{
	text-align: left;
	color: #3D3C3A;
	font-family: "cardoregular", serif;
	padding: 1.5em 3em 0 2.5em;
	font-size: 18px;
	font-weight: bold;
}



legend{
	font-family: "Times New Roman", serif;
  }
  
legend span{
	text-decoration: underline;
	font-weight: bold;
	font-size: 22px;
	
}

.edit{
	background: #707070;
	padding: 5px 10px;
	border:none;
	color: white;
	font-family: "Times New Roman", serif;
	margin: 0;
	width: 50px;
	text-align: center;
}

.checkin{
	float: right;
	padding-right: 1em;
}

  
.reset{
	background: #707070;
	padding: 5px 10px;
	border:none;
	color: white;
	font-family: "Times New Roman", serif;
	margin-left: 1em;
	font-size: 20px;
	
 }
  
.submit{
	background: #707070;
	padding: 5px 10px;
	border:none;
	color: white;
	font-family: "Times New Roman", serif;
	margin: 0;
	font-size: 20px;
	
 }
 
 .submitLong{
	background: #707070;
	padding: 8px 10px;
	border:none;
	color: white;
	font-family: "Times New Roman", serif;
	margin: 1em;
	width: 170px;
	font-size: 20px;
 }
 
.submit:hover, .edit:hover, .submitLong:hover{
      background-color: #959292;
	  color: white;
}
    
fieldset {
	position: relative;
	padding: 0;
	border: none;
  }
  
 fieldset input, select{
 float: right;
 }
  
 
#form2 {
	padding: 2em 10em 0 4.5em;
}

#form3{
	padding: 3em 10em 0 10em;
}
  
input, textarea {
  font-size: 0.9em;
  resize:none;
  border-radius: 5px;
  padding: 0.2em;
  }
  
.inputLogin {
  font-size: 1em;
  resize:none;
  border-radius: 5px;
  width: 165px;
  }
   
  
 textarea {
 width: 460px;
 }
  

::-webkit-input-placeholder { /* WebKit browsers */
    color:#707070;
	font-size: 0.9em;
	text-align:left;
	font-family: "Times New Roman", serif;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#707070;
	font-size: 0.9em;
	text-align:left;
	font-family: "Times New Roman", serif;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#707070;
	font-size: 0.9em;
	text-align:left;
	font-family: "Times New Roman", serif;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#707070;
	font-size: 0.9em;
	text-align:left;
	font-family: "Times New Roman", serif;
}
  


label{
	font-family: font-family: "cardoregular", serif;
	font-size: 1em;
}

input:focus, textarea:focus{
	background: #efeded;
	color:black;
	outline: 0;
	font-family: "Times New Roman", serif;
}

.bold2{
	font-weight: bold;
	padding: 0;
}

.bold{
	font-weight: bold;
	padding: 0 0 0 1em;
}


/* --------- COLLAPSIBLE PANELS ----------*/
 
.expandable-panel {
    width:100%; 
    position:relative;
    min-height:50px;
    overflow:auto;
    margin-bottom: 20px;
    border:1px solid #999;
}   
.expandable-panel-heading {
    width:100%; 
    cursor:pointer;
    min-height:50px;
    clear:both;
    background-color:#E5E5E5;
    position:relative;
}
.expandable-panel-heading:hover {
    color:#666;
}
.expandable-panel-heading h2 {
    padding:14px 7px 9px 7px; 
    font-size:18px;
    line-height:20px;
    font-weight: normal;
}
.expandable-panel-content { 
    padding:0 15px 0 15px;
    margin-top:-999px;
}
.expandable-panel-content p {
    padding:4px 0 6px 0;
}
.expandable-panel-content p:first-child  {
    padding-top:10px;
}
.expandable-panel-content p:last-child {
    padding-bottom:15px;    
}
.icon-close-open {
    width:20px;
    height:20px;
    position:absolute;
    background-image:url(icon-close-open.png);
    right:15px;
}
.expandable-panel-content img {
    padding-left:12px;
}
.header-active {
    background-color:#D0D7F3;
}


